.tile-item {
  text-align: center;
  transition: left .5s, top .5s, opacity .1s, transform .1s;
  box-shadow: 0 14px 28px rgba(0,0,0,.5), 0 10px 10px rgba(0,0,0,.5);
}

.tile-item:hover {
  opacity: .7;
}

.tile-item:active {
  transform: scale(.9);
}

.tile-rank {
  display: block;
  width: 30px;
  height: 20px;
  opacity: .8;
  border-radius: 30%;
  position: absolute;
  font-weight: bold;
  color: #000;
}

.tile-photo {
  object-fit: cover;
  border-radius: 1px;
  background-size: contain;
  cursor: pointer;
}